node_modules/
package-lock.json
yarn.lock

dist/
dev-dist/
packages/*/coverage
tsconfig.tsbuildinfo
.rollup.cache

# CSS internals
packages/css-storage-fixture/.internal/idp
packages/css-storage-fixture/.internal/locks
packages/css-storage-fixture/.internal/forgot-password
packages/css-storage-fixture/.internal/notifications
packages/css-storage-fixture/.internal/accounts/cookies

# OS
.DS_Store

# logs
*.log

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.turbo

# ldo
examples/*/ldo/